{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}" type="text/css">


    <title>Dashboard</title>
</head>
<body>

<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand " href="{% url 'dashboard' %}">Intégration santé - Neural Network Console</a>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                            <span class="navbar-text" style="color:white;">
                              {{ user.username }}
                            </span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}" style="color:white;">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col-md-3  p-0">

            <div class="sidebar-sticky">


                <div class="list-group">

                    <a class="list-group-item list-group-item-action " href="{% url 'dashboard' %}" role="button">All
                        sessions</a>
                    <a class="list-group-item list-group-item-action " href="{% url 'trainingsession' session_name %}"
                       role="button">New
                        session</a>
                    {% comment %}
                    {% if user.is_authenticated %}
                        You name is: {{ user.username }}
                    {% else %}
                        You are not logged in.
                    {% endif %}
{% endcomment %}

                </div>
            </div>

        </div>
        <div class="col-md-9  px-3">

            <section class="pt-5 pb-5">
                <div class="container">
                    <div class="row w-100">
                        <div class="col-lg-12 col-md-12 col-12">
                            <h3 class="display-5 mb-2 text-center">All training sessions</h3>
                            <p class="mb-5 text-center">
                                <i class="text-info font-weight-bold">{{ sessions_number }}</i> training session</p>
                            <table id="shoppingCart" class="table table-condensed table-responsive table-hover">
                                <thead>
                                <tr>
                                    <th style="width:40%">Type</th>
                                    <th style="width:30%">State</th>
                                    <th style="width:14%">Date</th>
                                    <th style="width:16%"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for session in training_sessions %}
                                    {% if session.state %}
                                        {% url 'session-detail' session.session_name as session_url %}
                                    {% else %}
                                        {% url 'trainingsession' session.session_name  as session_url %}
                                    {% endif %}
                                    <tr class="table-row" data-href="{{ session_url }}">
                                        <td data-th="type">
                                            <div class="row">
                                                <div class="col-md-3 text-left">
                                                    <img src="https://via.placeholder.com/250x250/5fa9f8/ffffff" alt=""
                                                         class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                                </div>
                                                <div class="col-md-9 text-left mt-sm-2">
                                                    <h4>{{ session.type }}</h4>
                                                </div>
                                            </div>
                                        </td>
                                        <td data-th="state">{% if session.state %}
                                            Finished
                                        {% else %}
                                            In progress
                                        {% endif %}</td>
                                        <td data-th="date">{{ session.date_created|date:"Y-m-d" }} {{ session.date_created|time:"g:i A e" }}</td>
                                        <td class="actions" data-th="">
                                            <div class="text-right">
                                                <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                                    <i class="fas fa-sync"></i>
                                                </button>
                                                <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<!-- Optional JavaScript -->
<script>
    $(document).ready(function ($) {
        $(".table-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });

</script>
</body>
</html>